<% i = 1 %>
<% content_for :head do %>
<title>
    Wantのランキング - Monolist
</title>
<% end %>
<div class="container">
<div class="ranking">
 <div class="title"> 
  <h1><span class="glyphicon glyphicon-king" aria-hidden="true"></span> Wantランキング Top10</h1>
 </div>
 <% @items.each do |item| %>
 <div class="item-box">
  <div class="number" %>
   <h3>第<%= i %>位</h3>
  </div>
   <div class="image">
    <div class="img-wrap">
     <% if item.large_image.present? %>
      <%= image_tag(item.large_image , alt: item.title) %>
     <% else %>
      <%= image_tag("no-image.png" , alt: item.title) %>
     <% end %>
    </div>
   </div>
  <div class="detail">
   <p class="title">
   <%= item.title %>
   </p>
  </div>
   <%= render 'items/action' , item: item if logged_in? %>
  </div>
<% i = i + 1 %>
<% end %>
</div>
</div>


