<% content_for :head do %>
<title>
  <%= @item.title%> - Monolist
</title>
<meta name="description" content="<%= @item.title %>に関する情報です。この商品を欲しい人、持ってる人を表示しています。" />
<meta name="keywords" content="Monolist,<%= @item.title%>" />
<% end %>

<div class="container">
  <div class="container-inner inner-sm clearfix">
    <div class="item-single-main">
      <div class="image">
        <div class="img-wrap">
          <% if @item.large_image.nil? %>
            <%= link_to image_tag("no-image.png" , alt: @item.title),@item.detail_page_url %>
          <% else %>
            <%= link_to image_tag(@item.large_image,alt: @item.title),@item.detail_page_url %>
            <% end %>
        </div>
      </div>
      <div class="title">
        <%= @item.title %>
      </div>
      <%= render 'action' , item: @item %>
    </div>
    <div class="item-single-side">
      <div class="side-box">
        <h4 class="side-box-title">Haveしたユーザー</h4>
        <div class="side-box-body">
          <% @item.have_users.each do |user1|  %>
          <div class="icon">
            <%= link_to (gravatar_for(user1, :size => 25)),user_path(user1) %>
         </div>
          <% end %>
        </div>
      </div>
      <div class="side-box">
        <h4 class="side-box-title">Wantしたユーザー</h4>
        <div class="side-box-body">
          <% @item.want_users.each do |user2|  %>
          <div class="icon">
          <%= link_to (gravatar_for(user2, :size => 25)),user_path(user2) %>
         </div>
          <% end %>
        </div>
      </div>
      <div class="text-center">
        <%= link_to(image_tag("amazon-button.png", {alt: "Amazon詳細ページへ"}), @item.detail_page_url) %>
      </div>
    </div>
  </div>
</div>
